/* styles for the D3.js force-directed graph */

#startbutton
{
    border: solid 2px;
    width: 40%;
    height: 30%;
/*    overflow: auto;*/
    overflow-y:scroll;
    position: fixed;
    right: 30%;
    text-align: center;
    z-index: 100;
    /*display: inline;*/
/*    display: inline-block;*/
}

canvas
{
    border: solid 2px;
    width: 80%;
    height: 80%;
/*    overflow: auto;*/
/*    overflow-y:scroll;*/
    position: fixed;
    right: 0%;
    text-align: center;
    z-index: -1;
}
/* Force-directed graphs */
.link {
  stroke: #ccc;
}

.node text {
  pointer-events: none;
  font: 10px sans-serif;
}

/* Histograms */
.bar rect {
  fill: steelblue;
  shape-rendering: crispEdges;
}

.bar text {
  fill: #0f0;
}

.axis path, .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}



/* The main containers */
#drawingcontainer
{
    position: relative;
    display: inline;
}

#feedback
{
    position:fixed;
    top: 300px;
    width: 250px;
    height: 30px;
}
.nofeedback
{
    visibility: hidden;
}
.srplusfeedback
{
    visibility: visible;
    background-color: #00FF00;
}

#librarycontainer
{
    border: solid 2px;
    width: 400px;
    height: 400px;
/*    overflow: auto;*/
    overflow-y:scroll;
    position: fixed;
    right: 420px;
    text-align: center;
    /*display: inline;*/
/*    display: inline-block;*/
}
#strokecontainer
{
    border: solid 2px;
    width: 400px;
    height: 400px;
    /*overflow: auto;*/
    overflow-y:scroll;
    position: fixed;
    right: 10px;
    text-align: center;
    /*    display: inline;*/
/*    display: inline-block;*/
}
#trialcontainer
{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
#comparisoncontainerdiv
{
    margin-left: auto;
    margin-right: auto;


    white-space: nowrap;
    /*text-align: center;*/
}
#samplecanvas
{
    margin-left: auto;
    margin-right: auto;
    text-align: center;

    
   
}
[id^=comparisondiv]
{
    display: inline-block;
}

/*
#comparisondiv0
{
    display: inline-block;
}
#comparisondiv1
{
    display: inline-block;
}
#comparisondiv2
{
    display: inline-block;
}*/
.hiddenimage
{
    display: none;
}
.comparisonsampleclass
{
    float: left;
    width: 160;
}
body
{
background-color:white;
}
.tableimg
{
    width: 60px;
    height: 60px;
}
td
{
    font-size:200%
}

/* Stuff inside the drawing container */
#progressbar_outside
{
    border: solid 1px;
    width: 100px;
    height: 10px;
    position: absolute;
    top: 0;
}
#progressbar_inside
{
    width: 50px;
    height: 10px;
    background: blue;
    position: absolute;
    top: 0;
}

#summatedcanvas
{ /* used to store the cumulative effects of strokes on the current image */
    display:none;
    border-width: 1px;
    border-style: solid;
    position: absolute;
    top: 15;
}

.drawable /*stimuli*/
{ /* used to record the current stroke and display previous strokes */
    border-width: 1px;
    border-style: solid;
    position: absolute;
    top: 15;

}

.sample
{
    border-width: 1px;
    border-style: solid;
}

.caption
{
    background-color: rgb(200,200,200);
    width:200px;
    display: inline-block;
}

