#trialcontainer
{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
#comparisoncontainerdiv
{
    margin-left: auto;
    margin-right: auto;


    white-space: nowrap;
    /*text-align: center;*/
}
#samplecanvas
{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
   
}
[id^=comparisondiv]
{
    display: inline-block;
}

/*
#comparisondiv0
{
    display: inline-block;
}
#comparisondiv1
{
    display: inline-block;
}
#comparisondiv2
{
    display: inline-block;
}*/

.comparisonsampleclass
{
    float: left;
    width: 160;
}
body
{
background-color:white;
}
#stimuli
{
    /*display:none;*/
    border-width: 1px;
    border-style: solid;
}
.sample
{
    border-width: 1px;
    border-style: solid;
}

.caption
{
    background-color: rgb(200,200,200);
    width:200px;
}

