#stringdiv
{
    font-family: "Courier New", Courier, monospace;
    text-align: center;
}

[id^=comparisondiv]
{
    display: inline-block;
}

.hiddenimage
{
    display: none;
}
.comparisonsampleclass
{
    float: left;
    width: 160;
}
body
{
background-color:black;
}
.tableimg
{
    width: 60px;
    height: 60px;
}
td
{
    font-size:200%
}
#stimuli
{
    /*display:none;*/
    border-width: 1px;
    border-style: solid;

}
.sample
{
    border-width: 1px;
    border-style: solid;
}

.caption
{
    background-color: rgb(200,200,200);
    width:200px;
}

